{% extends "base.html.twig" %}

{% block body %}
    <h2>New Pet</h2>
    <div class="container">
        <h3>Owner: {{ owner.firstName }} {{ owner.lastName }}</h3>
        <form method="post">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="settings[name]">
            </div>
            <div class="form-group">
                <label for="date">Birth Date</label>
                <input type="date" class="form-control" id="date"  name="settings[birthDate]">
            </div>
            <div class="form-group">
                <label for="type">Type</label>
                <select class="form-control" id="type" name="settings[type]">
                    {% for type in constant('App\\Entity\\Pet::AVAILABLE_TYPES') %}
                    <option>{{ type|humanize }}</option>
                    {% endfor %}
                </select>
            </div>
            <input type="hidden" name="submit" value="1">
            <button type="submit" class="btn btn-primary">Add Pet</button>
        </form>
    </div>
{% endblock %}